.logo{
  display: flex;
  justify-content: center;
 
 
}
.main{
  background-color: #a05b49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price{
background-color:   #f7f7f7;
padding:10px;
align-items: center;
border-radius: 10px;
}
.description{
  width:600px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
 
}
h1{
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}
h2{
  color:   #f7f7f7;
}
button {
padding:15px;
font-family: 'Great Vibes', cursive;
background-color: #a05b49;
color:#f7f7f7;
font-size: 20px;
border:none

}
.footer{
  display: flex;
  justify-content: flex-start;
}
.beauty{
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
